.audio-transcript-highlight {
    box-shadow: 0 0 0px 0.5em rgba(102, 102, 153, 0.5);
    background-color: rgba(102, 102, 153, 0.5);
}

[data-time-start] {
	cursor: pointer;
}

#at_upload .hide {
	display: none !important;
}

.removeAudio {
    width: 29px;
    height: 29px;
	color: #666;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
    vertical-align: text-top;
}
.removeAudio:before {
	content: '\f158';
    font: normal 20px/29px 'dashicons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.at-file-actions {
    float: right;
}
.at-file-actions input.button {
    margin: 5px 10px 0 0;
}
.at-file-actions .del-link {
    line-height: 36px;
    margin-right: 10px;
}
.at-file-actions .del-attachment {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,.2);
    z-index: 900;
}

/* Edit */
.syncInfo {
    padding-bottom: 1em;
    border-bottom: 1px solid #e5e5e5;
}
.syncInfo button.button {
    margin-left: 1.5em;
}

.syncText .at-transcript p {
	position: relative;
	margin-left: 7em;
}
.syncText .controls {
    position: absolute;
    left: -7em;
    top: 0;
    cursor: default;
}
.syncText .controls span:not(:last-child) {
	margin-right: .25em;
}
.syncText .controls .adjust {
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}


/* Instructions */
.syncInfo .postbox {
    margin-top: 15px;
    background-color: rgba(0,0,0,.04);
}
.syncInfo .handlediv:before {
    right: 12px;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 8px 10px;
    top: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    content: '\f142';
}
.syncInfo .postbox.closed .handlediv:before {
    content: '\f140';
}
.syncInfo h3 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}